table {
  border-collapse: collapse;
}

td {
  border: 5px solid black;
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
  font-family: sans;
}

tr:nth-child(1) > td {
  border-top: none;
}

tr:nth-child(3) > td {
  border-bottom: none;
}

tr > td:nth-child(1) {
  border-left: none;
}

tr > td:nth-child(3) {
  border-right: none;
}

iframe{
	width: 560px;
	height: 315px;
	frameborder: 0;
	allowfullscreen: true;
}
