body {
    background-color: #05386B;
	color: #EDF5E1;
    font-family: courier;
    font-size: 90%;
}
a:link {
    color: blue;
    background-color: transparent;
	text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
	text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
div {
    height: 200px;
    width: 100px;
}
iframe{
	margin: 0;
	padding: 0;
}